**/.DS_Store
**/__pycache__
**.pyc
neuralnet_training_data/
example_spectra/5-test/
example_spectra/6-test/
example_spectra/7-test/
example_spectra/8-test/
example_spectra/9-test/
example_spectra/10-test/
example_spectra/11-test/
example_spectra/12-test/
example_spectra/13-featureless/
example_spectra/MANGA/manga-9485-12705-LOGCUBE.fits
example_spectra/MANGA/manga-9485-12705-LOGCUBE.fits.gz

